<div data-role="page" data-add-back-btn="false">


<div data-role="header" data-position="inline">
  <h1>Employee details</h1>

    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
  Home
    </a>
    
      <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="star">
            New
          </a>

</div>

<div class="content">
<ul>
<% @employees.each do |employee|%>
     <li>
       <a href="<%= url_for :action => :show, :id => employee.object%>">
         <span class="title"><%= employee.Name %> is 
         <%= find_designation(employee.Age.to_i) %>
         </span>
         <span class="disclosure_indicator">
         </span>
       </a>
     </li>
   <% end %>
   
   
  </ul>
</div>
</div>