<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @employee.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @employee.object %>"/>

          <div data-role="fieldcontain">
            <label for="employee[Name]" class="fieldLabel">Name</label>
            <input type="text" id="employee[Name]" name="employee[Name]" <%= placeholder("Name") %> />
          </div>
      
          <tabel>
              <tr>
              <td class="itemLabel">Company: </td>
              <td class="itemValue">
              <select name="employee[Company]">
              <option value="Facebook" selected>Facebook</
              option>
              <option value="Twitter">Twitter</option>
              <option value="Google">Google</option>
              </select>
              </td>
              </tr>
      
              <tr>
              <td class="itemLabel">Address: </td>
              <td class="itemValue"><textarea rows="3" cols="10"
              name= "employee[Address]" ></textarea></td>
              </tr>
           </tabel>
      
          <div data-role="fieldcontain">
            <label for="employee[Age]" class="fieldLabel">Age</label>
            <input type="text" id="employee[Age]" name="employee[Age]" <%= placeholder("Age") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="employee[Gender]" class="fieldLabel">Gender</label>
              <label for="employee[Gender]">Male</label>
              <input type="radio" name="employee[Gender]"
              value="male"/>
              <label for="task[status]">Female</label>
              <input type="radio" name="employee[Gender]"
              value="female"/>
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
